@charset "UTF-8";

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px;
    bottom: 0px;
}

.social_container {
    height: 100px;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #666;
    padding-right: 50px;
    
}

.footer_social_tittle {
    font-size: 1.5rem;
    padding: 5px 0px 10px 10px;
}

.footer_social_itens {
    display: flex;
    gap: 0px 5px;
}

.footer_social_images {
    height: 40px;
    opacity: .4;
}

.footer_social_images:hover {
    transition: .3s;
    opacity: 1;
}

/*  LINKS DO FOOTER    */

.links_container {
    margin-left: 50px;
}

.links_tittle {
    font-size: 1.5rem;
    padding: 5px 0px 10px 10px;
}

.item_footer {
    margin: 0px 0px 10px 50px;
}

.link_footer {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.link_footer:hover {
    color: #0088FF;
}


@media screen and (max-width: 505px){
    footer {
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .social_container {
        border-right: none;
        border-bottom: 1px solid #666;
        padding-top: 10px;
        padding-bottom: 30px;
        width: 80%;
    }

    .footer_social_itens {
        display: flex;
        gap: 10px 5px 10px 5px;
    }

    /*  LINKS DO FOOTER    */

    .links_container {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 80%;
    }

    .item_footer {
        margin: 0px 0px 20px 40px;
    }

    .links_tittle {
        padding: 20px 0px 10px 0px;
    }
}